#navbar{
    background-image: url(./logo.png);
    background-size: 12% 100px;
    background-repeat: no-repeat;   
        margin: 0px;
        width: 100%;
        height: 100px;
        background-color:rgb(112, 231, 88);
        margin-top: 0px; 
        float:right;   
 }

#main{
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    display: flex;
    list-style: none;
    font-weight: bold;
    margin-left: 650px;
}

.li1{
    padding-top: 30px;
    text-align: center;
    margin-top: -22px;
    height: 50px;
    width: 120px;
    
    margin-left: -40px;
    margin-right: 100px;

}
.li1:hover{
    padding-top: 35px;
    text-align: center;
    margin-top: -22px;
    height: 50px;
    width: 120px;
    background-color: rgb(46, 83, 208);
    
}
#BookAPP{
    margin-left: 200PX;
    font-size: 20PX;
  border: 3.5PX red groove;
  width: 150PX;
  background-color:gray;
}
#BookAPP:hover{
    background-color: rgb(221, 199, 36);
    width:150px ;
    
    
}
#active{
    background-color: red;
}

a{
    color:white;
    text-decoration: none;    
}

#marquee{
    color: goldenrod;
    font-size: 30px;
    font-weight: bold;
}
#p1{
    margin-left: 770px;
    margin-top:-700px;
    font-weight: bold;
    font-size:30px;
    color:rgb(179, 217, 12);
    text-decoration: underline;
    
    

}
#vv{
   text-transform:capitalize ;
   text-align: justify;
  width:40%;
  height: 100px;
  margin-left: 800px;
   
}
#kk{
    margin-top: 600px;
    margin-left: 250px;
    font-weight: bold;
    font-size:30px;
    color:rgb(217, 26, 12);
    text-decoration: underline;
}


#treatment{
    color: rgb(199, 7, 42);
}
#rr{
    color: rgb(24, 188, 230);
    width: 40%;
    margin-left: 50px;
    font-weight: bold;
    font-size:30px;
}
#video
{
   float: right;
   margin-top: -700px;
   padding-right:80px ;
  

}
#video2{
   
   float: right;
   padding-right:80px ;
   margin-top: -300px;
   
}


#Donate{
    margin-top: 100px;
    list-style: none;
    font-size: 40PX;
    text-align: center;
    padding-top: 30px;
    width: 40%;
    height: 80PX;
    background-color: rgb(102, 159, 159);
    
}
#downbar{
        
    width: 100%;
    height: 250px;
    background-color:rgb(78, 161, 75);
    margin-top: 100px;
    
    
    
}           

#climax{
text-transform: uppercase;
font-size: 20px;
color: white;
margin-left: 100px;
list-style: none;
font-weight: bold;
}

#climax2{
text-transform: uppercase;
font-size: 20px;
color: white;
margin-left: 1000px;
margin-top:-242px ;
list-style: none;
font-weight: bold;

}


